@using Umbraco.Cms.Core.Models.PublishedContent
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<IPublishedContent>
@{
    var background = Model.Value<IPublishedContent>("background");
    var picture1 = Model.Value<IPublishedContent>("picture1");
    var picture2 = Model.Value<IPublishedContent>("picture2");
    var picture3 = Model.Value<IPublishedContent>("picture3");
    var picture4 = Model.Value<IPublishedContent>("picture4");
    var picture5 = Model.Value<IPublishedContent>("picture5");
    var picture6 = Model.Value<IPublishedContent>("picture6");
}
<div style="background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) ), url(@background.Url()?anchor=center&amp;mode=crop&amp;width=1600&amp;height=800&amp;format=jpg&amp;rnd=132923430952770000); background-size: cover; background-repeat: no-repeat; background-position: center; height: 800px;">
            <div class="container">
                <div class="row align-items-center">
                    <div class="pt-22 pb-13 pt-lg-22 pb-lg-19 text-center text-light">
                        <h1 class="align-middle display-3 text-white mb-3 lh-1">Aunty Ann's Bathroom</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="py-10 pt-lg-16 pb-lg-6">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-2 mt-2 mb-4">
                        <div class="float-start me-2" style="background-color: #11B5DA; width:20px; height:20px;">
                        </div>
                        <div clas="fs-6">Portfolio</div>
                    </div>
                    <div class="col-sm-12 col-md-8 ms-sm-n3 mb-5">
                        
    <div class="umb-grid">
                <div class="grid-section">
    <div>
            <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div>
                            
    
<p>In a personal project for my Aunt, we embarked on a journey to transform her bathroom into a space that epitomizes timeless elegance and modern luxury. This endeavor was more than just an upgrade; it was a testament to the refined taste and sophistication of its owner.</p>
<p>Our approach was rooted in elevating every detail, reflecting the high standards expected for a semi-detached home. We were determined to achieve a level of luxury that remained humble in all regards. It was about creating an oasis of comfort and elegance within the confines of a bathroom.</p>
<p>Aunty Ann's bathroom design was deeply personalized. While we embraced modern clean lines, we also recognized the importance of infusing a feminine impression. This delicate balance was achieved through crystal-like lighting and soft flairs in plumbing fixtures, adding a touch of grace and sophistication.</p>
<p>Our journey began with precision and planning, where architectural drafting services played a pivotal role. Every element of the design was meticulously considered to ensure it aligned with the vision of a luxurious, yet inviting space.</p>
<p>The generous use of honed marble became the cornerstone of our design. It tied the entire bathroom together, creating a sense of permanency that would remain timeless and unchallenged. The marble exuded elegance and durability, reflecting the enduring qualities of Aunty Ann herself.</p>
<p>Ensuring a seamless execution of the project was our commitment. Our expertise in construction permit consulting in the GTA meant that every aspect of the renovation adhered to necessary regulations, providing peace of mind throughout the transformation.</p>
<p>In the end, Aunty Ann's bathroom became a sanctuary of timeless elegance and modern luxury. It stood as a testament to our dedication to design excellence, where every detail was carefully curated to reflect the personality of its owner.</p>
<p>Are you ready to embark on your own journey of transformation? <a href="/contact-us/" title="Contact Us">Contact us</a> today to discuss your project, and let's craft a space that embodies your unique vision with the same care and expertise that defined Aunty Ann's Bathroom.</p>
<p><span>&nbsp;</span></p>

                </div>
            </div>        </div>
            </div>
    </div>
                </div>
    </div>



                    </div>
                    <div class="col-sm-12 col-md-2 ps-5 ms-md-0">
                        <p class="fw-light mb-3">Timeline:<br><span class="fw-bold">2018</span></p>
                        <p class="fw-light mb-3">location:<br><span class="fw-bold">Mississauga</span></p>
                        <p class="fw-light mb-3">Project:<br><span class="fw-bold">Aunty Ann's Bathroom</span></p>
                    </div>
                </div>
            </div>    
        </div>
        <div class="py-10 pb-lg-16 mt-n5">
            <div class="container">
                <div class="row">

                    <div class="col-sm-12 col-md-5 mx-auto">
                        <p class="text-left mb-1 fw-light">Rainhead shower and deep built-in shower niche.</p>
                        <picture>
                            <source media="(max-width: 399px)" srcset="@picture1.Url()?anchor=center&amp;mode=crop&amp;width=328&amp;height=400&amp;format=jpg&amp;rnd=132864977826300000">
                            <source media="(min-width: 400px)" srcset="@picture1.Url()?anchor=center&amp;mode=crop&amp;width=518&amp;height=631&amp;format=jpg&amp;rnd=132864977826300000">
                            <img src="@picture1.Url()?anchor=center&amp;mode=crop&amp;width=518&amp;height=631&amp;format=jpg&amp;rnd=132864977826300000" alt="Double volume entrance." loading="lazy" class="img-fluid border border-light" width="518" height="631">
                        </picture>
                    </div>

                
                    <div class="col-sm-12 col-md-5 mx-auto mt-5 mt-md-18">
                        <p class="text-left mb-1 fw-light">Deep shower niche permits oversize bottles.</p>
                        <picture>
                            <source media="(max-width: 399px)" srcset="@picture2.Url()?anchor=center&amp;mode=crop&amp;width=328&amp;height=400&amp;format=jpg&amp;rnd=132864977802170000">
                            <source media="(min-width: 400px)" srcset="@picture2.Url()?anchor=center&amp;mode=crop&amp;width=518&amp;height=631&amp;format=jpg&amp;rnd=132864977802170000">
                            <img src="@picture2.Url()?anchor=center&amp;mode=crop&amp;width=518&amp;height=631&amp;format=jpg&amp;rnd=132864977802170000" alt="Featured central skylight well." loading="lazy" class="img-fluid border border-light" width="518" height="631">
                        </picture>
                    </div>


                </div>
            </div>    
        </div>
        
        <div class="py-10 pb-lg-18 mt-n5">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 p-0">
                        <picture>
                            <source media="(max-width: 399px)" srcset="@picture3.Url()?anchor=center&amp;mode=crop&amp;width=360&amp;height=200&amp;format=jpg&amp;rnd=132864977860570000">
                            <source media="(min-width: 400px)" srcset="@picture3.Url()?anchor=center&amp;mode=crop&amp;width=2000&amp;height=800&amp;format=jpg&amp;rnd=132864977860570000">
                            <img src="@picture3.Url()?anchor=center&amp;mode=crop&amp;width=2000&amp;height=800&amp;format=jpg&amp;rnd=132864977860570000" alt="Rear yard deck to be phased." loading="lazy" class="img-fluid" width="2000" height="800">
                        </picture>
                    </div>


                </div>
            </div>    
        </div>
        
        <div class="py-10 pb-lg-18 mt-n5">
            <div class="container">
                <div class="row">

                    <div class="col-sm-12 col-md-5 mx-auto">
                        <p class="text-left mb-1 fw-light">Skirtless toilet permitting easy clean up.</p>
                        <picture>
                            <source media="(max-width: 399px)" srcset="@picture4.Url()?anchor=center&amp;mode=crop&amp;width=328&amp;height=400&amp;format=jpg&amp;rnd=132864977856000000">
                            <source media="(min-width: 400px)" srcset="@picture4.Url()?anchor=center&amp;mode=crop&amp;width=518&amp;height=631&amp;format=jpg&amp;rnd=132864977856000000">
                            <img src="@picture4.Url()?anchor=center&amp;mode=crop&amp;width=518&amp;height=631&amp;format=jpg&amp;rnd=132864977856000000" alt="Featured central skylight well." loading="lazy" class="img-fluid border border-light" width="518" height="631">
                        </picture>
                    </div>

                
                    <div class="col-sm-12 col-md-5 mx-auto mt-5 mt-md-18">
                        <p class="text-left mb-1 fw-light">Ergonomic and elegant thermostatic shower system.</p>
                        <picture>
                            <source media="(max-width: 399px)" srcset="@picture5.Url()?anchor=center&amp;mode=crop&amp;width=328&amp;height=400&amp;format=jpg&amp;rnd=132864977815570000">
                            <source media="(min-width: 400px)" srcset="@picture5.Url()?anchor=center&amp;mode=crop&amp;width=518&amp;height=631&amp;format=jpg&amp;rnd=132864977815570000">
                            <img src="@picture5.Url()?anchor=center&amp;mode=crop&amp;width=518&amp;height=631&amp;format=jpg&amp;rnd=132864977815570000" alt="Light transfers throughout the house passively." loading="lazy" class="img-fluid border border-light" width="518" height="631">
                        </picture>
                    </div>


                </div>
            </div>    
        </div>
        
        <div class="pt-10 mt-n5">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 p-0">
                        <picture>
                            <source media="(max-width: 399px)" srcset="@picture6.Url()?anchor=center&amp;mode=crop&amp;width=360&amp;height=200&amp;format=jpg&amp;rnd=132864977820170000">
                            <source media="(min-width: 400px)" srcset="@picture6.Url()?anchor=center&amp;mode=crop&amp;width=2000&amp;height=800&amp;format=jpg&amp;rnd=132864977820170000">
                            <img src="@picture6.Url()?anchor=center&amp;mode=crop&amp;width=2000&amp;height=800&amp;format=jpg&amp;rnd=132864977820170000" alt="Transitional Toronto Home" loading="lazy" class="img-fluid" width="2000" height="800">
                        </picture>
                    </div>


                </div>
            </div>    
        </div>
        
        <div class="py-2">
            <div class="container-fluid">
                <div class="row d-none d-sm-block">
                    <p class="text-light text-center fw-bold" style="font-size:260px;">Next</p>
                    


                        <p class="text-center mb-16 fw-normal display-4 mt-n20"><a href="/portfolio/potpourri/">Potpourri</a></p>

                </div>
                
                <div class="row d-block d-sm-none">
                    <p class="text-light text-center fw-bold" style="font-size:150px;">Next</p>

                        <p class="text-center mb-13 fw-normal display-4 mt-n18"><a href="/portfolio/potpourri/">Potpourri</a></p>
                	
                </div>
            </div>    
        </div>