@using Umbraco.Cms.Core.Models.PublishedContent
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<IPublishedContent>
@{
    var background = Model.Value<IPublishedContent>("background");
    var picture1 = Model.Value<IPublishedContent>("picture1");
    var picture2 = Model.Value<IPublishedContent>("picture2");
    var picture3 = Model.Value<IPublishedContent>("picture3");
    var picture4 = Model.Value<IPublishedContent>("picture4");
    var picture5 = Model.Value<IPublishedContent>("picture5");
    var picture6 = Model.Value<IPublishedContent>("picture6");
}
<div style="background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) ), url(@background.Url()?anchor=center&amp;mode=crop&amp;width=1600&amp;height=800&amp;format=jpg&amp;rnd=132923430952770000); background-size: cover; background-repeat: no-repeat; background-position: center; height: 800px;">
            <div class="container">
                <div class="row align-items-center">
                    <div class="pt-22 pb-13 pt-lg-22 pb-lg-19 text-center text-light">
                        <h1 class="align-middle display-3 text-white mb-3 lh-1">Butterfly</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="py-10 pt-lg-16 pb-lg-6">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-2 mt-2 mb-4">
                        <div class="float-start me-2" style="background-color: #11B5DA; width:20px; height:20px;">
                        </div>
                        <div clas="fs-6">Portfolio</div>
                    </div>
                    <div class="col-sm-12 col-md-8 ms-sm-n3 mb-5">
                        
    <div class="umb-grid">
                <div class="grid-section">
    <div>
            <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div>
                            
    
<p>Building on a longstanding relationship rooted in residential design and permit approvals for single-family homes, Project Butterfly unfolded as a remarkable evolution of a two-story concept. It was a project that not only capitalized on local zoning by-laws but also unwittingly embraced the principles of Critical Regionalism, fostering community connections and architectural innovation.</p>
<p>Our journey with this project began with a keen understanding of local zoning regulations. In an ever-evolving landscape where by-laws can change on individual streets at any given time, we seized an opportunity. We were among the last few homes in the area to secure approval for three-story single-family dwellings. This change in concept opened doors to architectural innovation and a new dimension of design possibilities.</p>
<p>Project Butterfly, while a variation of the concept "Standard A," inadvertently demonstrated the principles of Critical Regionalism. It was an architectural approach deeply influenced by the surrounding community. We recognized the importance of respecting the aesthetics of the neighborhood while introducing modern elements that would seamlessly integrate into the fabric of the area.</p>
<p>Front-facing balconies became a key element of Project Butterfly. They were more than architectural features; they were invitations to conversation and a sense of familiarity with community members. The design encouraged interaction with neighbors, fostering a sense of belonging and shared spaces.</p>
<p>The success of Project Butterfly was so profound that we were able to duplicate the existing design to accommodate development on the adjacent property. It was a testament to our commitment to not only meeting but exceeding the expectations of our clients and the community.</p>
<p>In the end, Project Butterfly stood as a symbol of innovation and community-centric design. It was about adapting to evolving zoning regulations, respecting neighborhood aesthetics, and creating spaces that inspire interaction and connection.</p>
<p>Are you ready to embark on your own journey of architectural innovation and community engagement? <a href="/contact-us/" title="Contact Us">Contact us</a> today to discuss your project, and let's bring your vision to life with the same dedication that defined Project Butterfly.</p>
<p><span>&nbsp;</span></p>

                </div>
            </div>        </div>
            </div>
    </div>
                </div>
    </div>



                    </div>
                    <div class="col-sm-12 col-md-2 ps-5 ms-md-0">
                        <p class="fw-light mb-3">Timeline:<br><span class="fw-bold">2010</span></p>
                        <p class="fw-light mb-3">location:<br><span class="fw-bold">Mississauga</span></p>
                        <p class="fw-light mb-3">Project:<br><span class="fw-bold">Butterfly</span></p>
                    </div>
                </div>
            </div>    
        </div>
        <div class="py-10 pb-lg-16 mt-n5">
            <div class="container">
                <div class="row">

                    <div class="col-sm-12 col-md-5 mx-auto">
                        <p class="text-left mb-1 fw-light">3 Storey single residential dwelling.</p>
                        <picture>
                            <source media="(max-width: 399px)" srcset="@picture1.Url()?anchor=center&amp;mode=crop&amp;width=328&amp;height=400&amp;format=jpg&amp;rnd=132864977826300000">
                            <source media="(min-width: 400px)" srcset="@picture1.Url()?anchor=center&amp;mode=crop&amp;width=518&amp;height=631&amp;format=jpg&amp;rnd=132864977826300000">
                            <img src="@picture1.Url()?anchor=center&amp;mode=crop&amp;width=518&amp;height=631&amp;format=jpg&amp;rnd=132864977826300000" alt="Double volume entrance." loading="lazy" class="img-fluid border border-light" width="518" height="631">
                        </picture>
                    </div>

                
                    <div class="col-sm-12 col-md-5 mx-auto mt-5 mt-md-18">
                        <p class="text-left mb-1 fw-light">Natural cedar siding allows progressive aging.</p>
                        <picture>
                            <source media="(max-width: 399px)" srcset="@picture2.Url()?anchor=center&amp;mode=crop&amp;width=328&amp;height=400&amp;format=jpg&amp;rnd=132864977802170000">
                            <source media="(min-width: 400px)" srcset="@picture2.Url()?anchor=center&amp;mode=crop&amp;width=518&amp;height=631&amp;format=jpg&amp;rnd=132864977802170000">
                            <img src="@picture2.Url()?anchor=center&amp;mode=crop&amp;width=518&amp;height=631&amp;format=jpg&amp;rnd=132864977802170000" alt="Featured central skylight well." loading="lazy" class="img-fluid border border-light" width="518" height="631">
                        </picture>
                    </div>


                </div>
            </div>    
        </div>
        
        <div class="py-10 pb-lg-18 mt-n5">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 p-0">
                        <picture>
                            <source media="(max-width: 399px)" srcset="@picture3.Url()?anchor=center&amp;mode=crop&amp;width=360&amp;height=200&amp;format=jpg&amp;rnd=132864977860570000">
                            <source media="(min-width: 400px)" srcset="@picture3.Url()?anchor=center&amp;mode=crop&amp;width=2000&amp;height=800&amp;format=jpg&amp;rnd=132864977860570000">
                            <img src="@picture3.Url()?anchor=center&amp;mode=crop&amp;width=2000&amp;height=800&amp;format=jpg&amp;rnd=132864977860570000" alt="Rear yard deck to be phased." loading="lazy" class="img-fluid" width="2000" height="800">
                        </picture>
                    </div>


                </div>
            </div>    
        </div>
        
        <div class="py-10 pb-lg-18 mt-n5">
            <div class="container">
                <div class="row">

                    <div class="col-sm-12 col-md-5 mx-auto">
                        <p class="text-left mb-1 fw-light">Modern facade using minimalist and natural materials.</p>
                        <picture>
                            <source media="(max-width: 399px)" srcset="@picture4.Url()?anchor=center&amp;mode=crop&amp;width=328&amp;height=400&amp;format=jpg&amp;rnd=132864977856000000">
                            <source media="(min-width: 400px)" srcset="@picture4.Url()?anchor=center&amp;mode=crop&amp;width=518&amp;height=631&amp;format=jpg&amp;rnd=132864977856000000">
                            <img src="@picture4.Url()?anchor=center&amp;mode=crop&amp;width=518&amp;height=631&amp;format=jpg&amp;rnd=132864977856000000" alt="Featured central skylight well." loading="lazy" class="img-fluid border border-light" width="518" height="631">
                        </picture>
                    </div>

                
                    <div class="col-sm-12 col-md-5 mx-auto mt-5 mt-md-18">
                        <p class="text-left mb-1 fw-light">Twin design variation utilizing similar material palet.</p>
                        <picture>
                            <source media="(max-width: 399px)" srcset="@picture5.Url()?anchor=center&amp;mode=crop&amp;width=328&amp;height=400&amp;format=jpg&amp;rnd=132864977815570000">
                            <source media="(min-width: 400px)" srcset="@picture5.Url()?anchor=center&amp;mode=crop&amp;width=518&amp;height=631&amp;format=jpg&amp;rnd=132864977815570000">
                            <img src="@picture5.Url()?anchor=center&amp;mode=crop&amp;width=518&amp;height=631&amp;format=jpg&amp;rnd=132864977815570000" alt="Light transfers throughout the house passively." loading="lazy" class="img-fluid border border-light" width="518" height="631">
                        </picture>
                    </div>


                </div>
            </div>    
        </div>
        
        <div class="pt-10 mt-n5">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 p-0">
                        <picture>
                            <source media="(max-width: 399px)" srcset="@picture6.Url()?anchor=center&amp;mode=crop&amp;width=360&amp;height=200&amp;format=jpg&amp;rnd=132864977820170000">
                            <source media="(min-width: 400px)" srcset="@picture6.Url()?anchor=center&amp;mode=crop&amp;width=2000&amp;height=800&amp;format=jpg&amp;rnd=132864977820170000">
                            <img src="@picture6.Url()?anchor=center&amp;mode=crop&amp;width=2000&amp;height=800&amp;format=jpg&amp;rnd=132864977820170000" alt="Transitional Toronto Home" loading="lazy" class="img-fluid" width="2000" height="800">
                        </picture>
                    </div>


                </div>
            </div>    
        </div>
        
        <div class="py-2">
            <div class="container-fluid">
                <div class="row d-none d-sm-block">
                    <p class="text-light text-center fw-bold" style="font-size:260px;">Next</p>
                    


                        <p class="text-center mb-16 fw-normal display-4 mt-n20"><a href="/portfolio/english/">English</a></p>

                </div>
                
                <div class="row d-block d-sm-none">
                    <p class="text-light text-center fw-bold" style="font-size:150px;">Next</p>

                        <p class="text-center mb-13 fw-normal display-4 mt-n18"><a href="/portfolio/english/">English</a></p>
                	
                </div>
            </div>    
        </div>