@using Umbraco.Cms.Core.Models.PublishedContent
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<IPublishedContent>
@{
    var background = Model.Value<IPublishedContent>("background");
    var picture1 = Model.Value<IPublishedContent>("picture1");
    var picture2 = Model.Value<IPublishedContent>("picture2");
    var picture3 = Model.Value<IPublishedContent>("picture3");
    var picture4 = Model.Value<IPublishedContent>("picture4");
    var picture5 = Model.Value<IPublishedContent>("picture5");
    var picture6 = Model.Value<IPublishedContent>("picture6");
}
<div style="background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) ), url(@background.Url()?anchor=center&amp;mode=crop&amp;width=1600&amp;height=800&amp;format=jpg&amp;rnd=132923430952770000); background-size: cover; background-repeat: no-repeat; background-position: center; height: 800px;">
            <div class="container">
                <div class="row align-items-center">
                    <div class="pt-22 pb-13 pt-lg-22 pb-lg-19 text-center text-light">
                        <h1 class="align-middle display-3 text-white mb-3 lh-1">English</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="py-10 pt-lg-16 pb-lg-6">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-2 mt-2 mb-4">
                        <div class="float-start me-2" style="background-color: #11B5DA; width:20px; height:20px;">
                        </div>
                        <div clas="fs-6">Portfolio</div>
                    </div>
                    <div class="col-sm-12 col-md-8 ms-sm-n3 mb-5">
                        
    <div class="umb-grid">
                <div class="grid-section">
    <div>
            <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div>
                            
    
<p>In the realm of residential transformations, Project English emerged as an opportunity to not only create a rear yard addition but also breathe new life into an existing split-level Mississauga home. It was a project driven by the desire to harmonize the external and internal elements, infusing modernity while respecting the client's existing aesthetics.</p>
<p>Our journey began by collaborating closely with the client. We understood the importance of consistency in the overall impression, both indoors and in the rear yard spaces. It was about creating a seamless transition that made the approach to the home an immersive experience.</p>
<p>Leveraging Building Information Modelling (BIM) on such a scale of the project allowed us to delve into intricate details. We meticulously studied sun and shadow paths, unveiling opportunities for massive solar gain. This precision in planning would later translate into an environmentally conscious and energy-efficient design.</p>
<p>Maintaining a delicate balance between the client's existing furniture palette and the desire for a more modern approach was a key challenge. Our approach was selective and phased, focusing on major changes that would allow for minimal inconvenience during future cosmetic upgrades. It was about creating an environment that felt like an evolution of the client's style.</p>
<p>Procuring materials and finishes became a pivotal aspect of the project. We sought elements that not only complemented the existing aesthetics but also emboldened a more contemporary look. It was about marrying tradition with innovation, creating spaces that felt both familiar and refreshingly new.</p>
<p>In the end, Project English stood as a testament to our ability to create a unified vision. It was about crafting a home where the exterior and interior seamlessly coexist, where precision and scale merge with tradition and modernity.</p>
<p>Are you ready to embark on your own journey of transforming your home into a modern masterpiece? <a href="/contact-us/" title="Contact Us">Contact us</a> today to discuss your project, and let's bring your vision to life with the same dedication and expertise that defined Project English.</p>
<p><span>&nbsp;</span></p>

                </div>
            </div>        </div>
            </div>
    </div>
                </div>
    </div>



                    </div>
                    <div class="col-sm-12 col-md-2 ps-5 ms-md-0">
                        <p class="fw-light mb-3">Timeline:<br><span class="fw-bold">2020</span></p>
                        <p class="fw-light mb-3">location:<br><span class="fw-bold">Mississauga</span></p>
                        <p class="fw-light mb-3">Project:<br><span class="fw-bold">English</span></p>
                    </div>
                </div>
            </div>    
        </div>
        <div class="py-10 pb-lg-16 mt-n5">
            <div class="container">
                <div class="row">

                    <div class="col-sm-12 col-md-5 mx-auto">
                        <p class="text-left mb-1 fw-light">Front fecade face-lift.</p>
                        <picture>
                            <source media="(max-width: 399px)" srcset="@picture1.Url()?anchor=center&amp;mode=crop&amp;width=328&amp;height=400&amp;format=jpg&amp;rnd=132864977826300000">
                            <source media="(min-width: 400px)" srcset="@picture1.Url()?anchor=center&amp;mode=crop&amp;width=518&amp;height=631&amp;format=jpg&amp;rnd=132864977826300000">
                            <img src="@picture1.Url()?anchor=center&amp;mode=crop&amp;width=518&amp;height=631&amp;format=jpg&amp;rnd=132864977826300000" alt="Double volume entrance." loading="lazy" class="img-fluid border border-light" width="518" height="631">
                        </picture>
                    </div>

                
                    <div class="col-sm-12 col-md-5 mx-auto mt-5 mt-md-18">
                        <p class="text-left mb-1 fw-light">Rear yard extension.</p>
                        <picture>
                            <source media="(max-width: 399px)" srcset="@picture2.Url()?anchor=center&amp;mode=crop&amp;width=328&amp;height=400&amp;format=jpg&amp;rnd=132864977802170000">
                            <source media="(min-width: 400px)" srcset="@picture2.Url()?anchor=center&amp;mode=crop&amp;width=518&amp;height=631&amp;format=jpg&amp;rnd=132864977802170000">
                            <img src="@picture2.Url()?anchor=center&amp;mode=crop&amp;width=518&amp;height=631&amp;format=jpg&amp;rnd=132864977802170000" alt="Featured central skylight well." loading="lazy" class="img-fluid border border-light" width="518" height="631">
                        </picture>
                    </div>


                </div>
            </div>    
        </div>
        
        <div class="py-10 pb-lg-18 mt-n5">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 p-0">
                        <picture>
                            <source media="(max-width: 399px)" srcset="@picture3.Url()?anchor=center&amp;mode=crop&amp;width=360&amp;height=200&amp;format=jpg&amp;rnd=132864977860570000">
                            <source media="(min-width: 400px)" srcset="@picture3.Url()?anchor=center&amp;mode=crop&amp;width=2000&amp;height=800&amp;format=jpg&amp;rnd=132864977860570000">
                            <img src="@picture3.Url()?anchor=center&amp;mode=crop&amp;width=2000&amp;height=800&amp;format=jpg&amp;rnd=132864977860570000" alt="Rear yard deck to be phased." loading="lazy" class="img-fluid" width="2000" height="800">
                        </picture>
                    </div>


                </div>
            </div>    
        </div>
        
        <div class="py-10 pb-lg-18 mt-n5">
            <div class="container">
                <div class="row">

                    <div class="col-sm-12 col-md-5 mx-auto">
                        <p class="text-left mb-1 fw-light">Maintinging relationships with views.</p>
                        <picture>
                            <source media="(max-width: 399px)" srcset="@picture4.Url()?anchor=center&amp;mode=crop&amp;width=328&amp;height=400&amp;format=jpg&amp;rnd=132864977856000000">
                            <source media="(min-width: 400px)" srcset="@picture4.Url()?anchor=center&amp;mode=crop&amp;width=518&amp;height=631&amp;format=jpg&amp;rnd=132864977856000000">
                            <img src="@picture4.Url()?anchor=center&amp;mode=crop&amp;width=518&amp;height=631&amp;format=jpg&amp;rnd=132864977856000000" alt="Featured central skylight well." loading="lazy" class="img-fluid border border-light" width="518" height="631">
                        </picture>
                    </div>

                
                    <div class="col-sm-12 col-md-5 mx-auto mt-5 mt-md-18">
                        <p class="text-left mb-1 fw-light">Exterior outdoor living spaces.</p>
                        <picture>
                            <source media="(max-width: 399px)" srcset="@picture5.Url()?anchor=center&amp;mode=crop&amp;width=328&amp;height=400&amp;format=jpg&amp;rnd=132864977815570000">
                            <source media="(min-width: 400px)" srcset="@picture5.Url()?anchor=center&amp;mode=crop&amp;width=518&amp;height=631&amp;format=jpg&amp;rnd=132864977815570000">
                            <img src="@picture5.Url()?anchor=center&amp;mode=crop&amp;width=518&amp;height=631&amp;format=jpg&amp;rnd=132864977815570000" alt="Light transfers throughout the house passively." loading="lazy" class="img-fluid border border-light" width="518" height="631">
                        </picture>
                    </div>


                </div>
            </div>    
        </div>
        
        <div class="pt-10 mt-n5">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 p-0">
                        <picture>
                            <source media="(max-width: 399px)" srcset="@picture6.Url()?anchor=center&amp;mode=crop&amp;width=360&amp;height=200&amp;format=jpg&amp;rnd=132864977820170000">
                            <source media="(min-width: 400px)" srcset="@picture6.Url()?anchor=center&amp;mode=crop&amp;width=2000&amp;height=800&amp;format=jpg&amp;rnd=132864977820170000">
                            <img src="@picture6.Url()?anchor=center&amp;mode=crop&amp;width=2000&amp;height=800&amp;format=jpg&amp;rnd=132864977820170000" alt="Transitional Toronto Home" loading="lazy" class="img-fluid" width="2000" height="800">
                        </picture>
                    </div>


                </div>
            </div>    
        </div>
        
        <div class="py-2">
            <div class="container-fluid">
                <div class="row d-none d-sm-block">
                    <p class="text-light text-center fw-bold" style="font-size:260px;">Next</p>
                    


                        <p class="text-center mb-16 fw-normal display-4 mt-n20"><a href="/portfolio/the-bishop/">The Bishop</a></p>

                </div>
                
                <div class="row d-block d-sm-none">
                    <p class="text-light text-center fw-bold" style="font-size:150px;">Next</p>

                        <p class="text-center mb-13 fw-normal display-4 mt-n18"><a href="/portfolio/the-bishop/">The Bishop</a></p>
                	
                </div>
            </div>    
        </div>