@using Umbraco.Cms.Core.Models.PublishedContent
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<IPublishedContent>
@{
    var background = Model.Value<IPublishedContent>("background");
    var picture1 = Model.Value<IPublishedContent>("picture1");
    var picture2 = Model.Value<IPublishedContent>("picture2");
    var picture3 = Model.Value<IPublishedContent>("picture3");
    var picture4 = Model.Value<IPublishedContent>("picture4");
    var picture5 = Model.Value<IPublishedContent>("picture5");
    var picture6 = Model.Value<IPublishedContent>("picture6");
}
<div style="background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) ), url(@background.Url()?anchor=center&amp;mode=crop&amp;width=1600&amp;height=800&amp;format=jpg&amp;rnd=132923430952770000); background-size: cover; background-repeat: no-repeat; background-position: center; height: 800px;">
            <div class="container">
                <div class="row align-items-center">
                    <div class="pt-22 pb-13 pt-lg-22 pb-lg-19 text-center text-light">
                        <h1 class="align-middle display-3 text-white mb-3 lh-1">Potpourri</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="py-10 pt-lg-16 pb-lg-6">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-2 mt-2 mb-4">
                        <div class="float-start me-2" style="background-color: #11B5DA; width:20px; height:20px;">
                        </div>
                        <div clas="fs-6">Portfolio</div>
                    </div>
                    <div class="col-sm-12 col-md-8 ms-sm-n3 mb-5">
                        
    <div class="umb-grid">
                <div class="grid-section">
    <div>
            <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div>
                            
    


<p>In our quest to replicate the success of previous projects, Project Potpourri became a testament to our unwavering commitment to delivering exceptional homes that stand the test of time. It was an endeavor driven by a desire to create living spaces that harmoniously blend innovation with enduring appeal.</p>
<p>At the core of this project was the creation of an open concept kitchen that seamlessly connected with the large living area and a versatile dining space. We understood that the kitchen is not just a functional space; it's the heart of the home where families come together, and this design allowed for a dynamic and inclusive living experience.</p>
<p>The challenge of a narrow lot was met with a strategic side entrance that not only added a layer of security with an attached garage but also optimized the available space. It was about innovative functionality that made the most of every square foot.</p>
<p>Our approach always begins with precision and planning. Architectural drafting services played a pivotal role in laying the foundation for this project. It ensured that every detail, every dimension, was meticulously considered to achieve the desired outcome.</p>
<p>In our pursuit of excellence, we prioritized the creation of large bedrooms that bathed in abundant natural sunlight. It was about enhancing not just the aesthetics but also the comfort and well-being of the residents.</p>
<p>We recognized that modern antimicrobial finishes are not just a trend; they are a commitment to health and hygiene. Every element was carefully chosen to not only meet current standards but also to anticipate future needs.</p>
<p>Consistently planning for a front-facing exterior porch, we blended a variety of evidence-based design concepts. This allowed for a unique curb appeal that not only welcomed residents home but also elevated the overall experience of the residence.</p>
<p>In the end, Project Potpourri became a showcase of design excellence and timeless features. It represented our dedication to crafting homes that combine innovation, functionality, and enduring appeal.</p>
<p>Are you ready to embark on your own journey of creating a dream home? <a href="/contact-us/" title="Contact Us">Contact us</a> today to discuss your project, and let's bring your vision to life with the same commitment and expertise that defined Project Potpourri.</p>
                </div>
            </div>        </div>
            </div>
    </div>
                </div>
    </div>



                    </div>
                    <div class="col-sm-12 col-md-2 ps-5 ms-md-0">
                        <p class="fw-light mb-3">Timeline:<br><span class="fw-bold">2010</span></p>
                        <p class="fw-light mb-3">location:<br><span class="fw-bold">Mississauga</span></p>
                        <p class="fw-light mb-3">Project:<br><span class="fw-bold">Potpourri</span></p>
                    </div>
                </div>
            </div>    
        </div>
        <div class="py-10 pb-lg-16 mt-n5">
            <div class="container">
                <div class="row">

                    <div class="col-sm-12 col-md-5 mx-auto">
                        <p class="text-left mb-1 fw-light">Large kitchen with relationships to dining and family room.</p>
                        <picture>
                            <source media="(max-width: 399px)" srcset="@picture1.Url()?anchor=center&amp;mode=crop&amp;width=328&amp;height=400&amp;format=jpg&amp;rnd=132864977826300000">
                            <source media="(min-width: 400px)" srcset="@picture1.Url()?anchor=center&amp;mode=crop&amp;width=518&amp;height=631&amp;format=jpg&amp;rnd=132864977826300000">
                            <img src="@picture1.Url()?anchor=center&amp;mode=crop&amp;width=518&amp;height=631&amp;format=jpg&amp;rnd=132864977826300000" alt="Double volume entrance." loading="lazy" class="img-fluid border border-light" width="518" height="631">
                        </picture>
                    </div>

                
                    <div class="col-sm-12 col-md-5 mx-auto mt-5 mt-md-18">
                        <p class="text-left mb-1 fw-light">Open concept spaces for virsitle furniture arragnements.</p>
                        <picture>
                            <source media="(max-width: 399px)" srcset="@picture2.Url()?anchor=center&amp;mode=crop&amp;width=328&amp;height=400&amp;format=jpg&amp;rnd=132864977802170000">
                            <source media="(min-width: 400px)" srcset="@picture2.Url()?anchor=center&amp;mode=crop&amp;width=518&amp;height=631&amp;format=jpg&amp;rnd=132864977802170000">
                            <img src="@picture2.Url()?anchor=center&amp;mode=crop&amp;width=518&amp;height=631&amp;format=jpg&amp;rnd=132864977802170000" alt="Featured central skylight well." loading="lazy" class="img-fluid border border-light" width="518" height="631">
                        </picture>
                    </div>


                </div>
            </div>    
        </div>
        
        <div class="py-10 pb-lg-18 mt-n5">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 p-0">
                        <picture>
                            <source media="(max-width: 399px)" srcset="@picture3.Url()?anchor=center&amp;mode=crop&amp;width=360&amp;height=200&amp;format=jpg&amp;rnd=132864977860570000">
                            <source media="(min-width: 400px)" srcset="@picture3.Url()?anchor=center&amp;mode=crop&amp;width=2000&amp;height=800&amp;format=jpg&amp;rnd=132864977860570000">
                            <img src="@picture3.Url()?anchor=center&amp;mode=crop&amp;width=2000&amp;height=800&amp;format=jpg&amp;rnd=132864977860570000" alt="Rear yard deck to be phased." loading="lazy" class="img-fluid" width="2000" height="800">
                        </picture>
                    </div>


                </div>
            </div>    
        </div>
        
        <div class="py-10 pb-lg-18 mt-n5">
            <div class="container">
                <div class="row">

                    <div class="col-sm-12 col-md-5 mx-auto">
                        <p class="text-left mb-1 fw-light">Contemporary bathroom with modern fixtures.</p>
                        <picture>
                            <source media="(max-width: 399px)" srcset="@picture4.Url()?anchor=center&amp;mode=crop&amp;width=328&amp;height=400&amp;format=jpg&amp;rnd=132864977856000000">
                            <source media="(min-width: 400px)" srcset="@picture4.Url()?anchor=center&amp;mode=crop&amp;width=518&amp;height=631&amp;format=jpg&amp;rnd=132864977856000000">
                            <img src="@picture4.Url()?anchor=center&amp;mode=crop&amp;width=518&amp;height=631&amp;format=jpg&amp;rnd=132864977856000000" alt="Featured central skylight well." loading="lazy" class="img-fluid border border-light" width="518" height="631">
                        </picture>
                    </div>

                
                    <div class="col-sm-12 col-md-5 mx-auto mt-5 mt-md-18">
                        <p class="text-left mb-1 fw-light">Bedrooms with access to large amounts of sunlight.</p>
                        <picture>
                            <source media="(max-width: 399px)" srcset="@picture5.Url()?anchor=center&amp;mode=crop&amp;width=328&amp;height=400&amp;format=jpg&amp;rnd=132864977815570000">
                            <source media="(min-width: 400px)" srcset="@picture5.Url()?anchor=center&amp;mode=crop&amp;width=518&amp;height=631&amp;format=jpg&amp;rnd=132864977815570000">
                            <img src="@picture5.Url()?anchor=center&amp;mode=crop&amp;width=518&amp;height=631&amp;format=jpg&amp;rnd=132864977815570000" alt="Light transfers throughout the house passively." loading="lazy" class="img-fluid border border-light" width="518" height="631">
                        </picture>
                    </div>


                </div>
            </div>    
        </div>
        
        <div class="pt-10 mt-n5">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 p-0">
                        <picture>
                            <source media="(max-width: 399px)" srcset="@picture6.Url()?anchor=center&amp;mode=crop&amp;width=360&amp;height=200&amp;format=jpg&amp;rnd=132864977820170000">
                            <source media="(min-width: 400px)" srcset="@picture6.Url()?anchor=center&amp;mode=crop&amp;width=2000&amp;height=800&amp;format=jpg&amp;rnd=132864977820170000">
                            <img src="@picture6.Url()?anchor=center&amp;mode=crop&amp;width=2000&amp;height=800&amp;format=jpg&amp;rnd=132864977820170000" alt="Transitional Toronto Home" loading="lazy" class="img-fluid" width="2000" height="800">
                        </picture>
                    </div>


                </div>
            </div>    
        </div>
        
        <div class="py-2">
            <div class="container-fluid">
                <div class="row d-none d-sm-block">
                    <p class="text-light text-center fw-bold" style="font-size:260px;">Next</p>
                    


                        <p class="text-center mb-16 fw-normal display-4 mt-n20"><a href="/portfolio/standard-g/">Standard G</a></p>

                </div>
                
                <div class="row d-block d-sm-none">
                    <p class="text-light text-center fw-bold" style="font-size:150px;">Next</p>

                        <p class="text-center mb-13 fw-normal display-4 mt-n18"><a href="/portfolio/standard-g/">Standard G</a></p>
                	
                </div>
            </div>    
        </div>