@using Umbraco.Cms.Core.Models.PublishedContent
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<IPublishedContent>
@{
    var background = Model.Value<IPublishedContent>("background");
    var picture1 = Model.Value<IPublishedContent>("picture1");
    var picture2 = Model.Value<IPublishedContent>("picture2");
    var picture3 = Model.Value<IPublishedContent>("picture3");
    var picture4 = Model.Value<IPublishedContent>("picture4");
    var picture5 = Model.Value<IPublishedContent>("picture5");
    var picture6 = Model.Value<IPublishedContent>("picture6");
}
<div style="background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) ), url(@background.Url()?anchor=center&amp;mode=crop&amp;width=1600&amp;height=800&amp;format=jpg&amp;rnd=132923430952770000); background-size: cover; background-repeat: no-repeat; background-position: center; height: 800px;">
            <div class="container">
                <div class="row align-items-center">
                    <div class="pt-22 pb-13 pt-lg-22 pb-lg-19 text-center text-light">
                        <h1 class="align-middle display-3 text-white mb-3 lh-1">Standard A</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="py-10 pt-lg-16 pb-lg-6">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-2 mt-2 mb-4">
                        <div class="float-start me-2" style="background-color: #11B5DA; width:20px; height:20px;">
                        </div>
                        <div clas="fs-6">Portfolio</div>
                    </div>
                    <div class="col-sm-12 col-md-8 ms-sm-n3 mb-5">
                        
    <div class="umb-grid">
                <div class="grid-section">
    <div>
            <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div>
                            
    
<p>In the world of architectural innovation, Project Standard A represents our commitment to modern design and efficient permit acquisition. We embarked on a transformative journey, harnessing the power of Building Information Modeling (BIM) to redefine our approach to architecture and permits.</p>
<p>Our journey began with a vision - a vision of a building that would not only stand as a physical structure but also serve as a testament to our dedication to innovation. This is where our architectural design services in the Greater Toronto Area (GTA) played a pivotal role.</p>
<p>Our team of architects and designers took on the task of crafting a space that was not just functional but also inspirational. Every element of the design was meticulously considered, reflecting the spirit of custom home design in Toronto. We aimed to create spaces that resonate with the essence of modern living.</p>
<p>To bring our vision to life, precision was key. Our architectural drafting services became the blueprint that guided us through the intricate process of conceptualizing Project Standard A. This phase laid the foundation for a structure that would redefine architectural excellence.</p>
<p>Navigating the complexities of permits was no small feat. We recognized the importance of securing the necessary permits in the GTA to ensure a seamless construction process. Our expertise in building permit services allowed us to streamline this critical aspect, ensuring compliance with local regulations.</p>
<p>We understood that permit applications could be daunting. To simplify the process for our clients, our permit application assistance services were designed to take care of the paperwork, submissions, and communications with regulatory authorities, providing a hassle-free experience.</p>
<p>Compliance with zoning and building codes was not just a requirement; it was a standard we set for ourselves. We meticulously reviewed and adapted our designs to align with all local zoning and building code requirements in Toronto.</p>
<p>Our expertise extended to construction permit consulting in the GTA. We ensured that every aspect of the construction process adhered to necessary regulations, providing peace of mind to our clients throughout the journey.</p>
<p>For residential projects like Project Standard A, permit approvals were a crucial step. Our expertise in securing residential permit approvals in Toronto ensured that the project proceeded without delays.</p>
<p>In the end, what began as a vision took shape as Project Standard A - an emblem of architectural innovation and our commitment to design and permit excellence. It showcased our ability to tackle challenges head-on, navigate complex regulations, and breathe life into architectural dreams.</p>
<p>Are you ready to embark on your own architectural journey? <a href="/contact-us/" title="Contact Us">Contact us</a> today to discuss your project, and let's craft your vision into reality with the same dedication and expertise that defined Project Standard A.</p>


                </div>
            </div>        </div>
            </div>
    </div>
                </div>
    </div>



                    </div>
                    <div class="col-sm-12 col-md-2 ps-5 ms-md-0">
                        <p class="fw-light mb-3">Timeline:<br><span class="fw-bold">2014</span></p>
                        <p class="fw-light mb-3">location:<br><span class="fw-bold">Mississauga</span></p>
                        <p class="fw-light mb-3">Project:<br><span class="fw-bold">Standard A</span></p>
                    </div>
                </div>
            </div>    
        </div>
        <div class="py-10 pb-lg-16 mt-n5">
            <div class="container">
                <div class="row">

                    <div class="col-sm-12 col-md-5 mx-auto">
                        <p class="text-left mb-1 fw-light">Home office that can double as a family room.</p>
                        <picture>
                            <source media="(max-width: 399px)" srcset="@picture1.Url()?anchor=center&amp;mode=crop&amp;width=328&amp;height=400&amp;format=jpg&amp;rnd=132864977826300000">
                            <source media="(min-width: 400px)" srcset="@picture1.Url()?anchor=center&amp;mode=crop&amp;width=518&amp;height=631&amp;format=jpg&amp;rnd=132864977826300000">
                            <img src="@picture1.Url()?anchor=center&amp;mode=crop&amp;width=518&amp;height=631&amp;format=jpg&amp;rnd=132864977826300000" alt="Double volume entrance." loading="lazy" class="img-fluid border border-light" width="518" height="631">
                        </picture>
                    </div>

                
                    <div class="col-sm-12 col-md-5 mx-auto mt-5 mt-md-18">
                        <p class="text-left mb-1 fw-light">Open concept kitchen with working triangle.</p>
                        <picture>
                            <source media="(max-width: 399px)" srcset="@picture2.Url()?anchor=center&amp;mode=crop&amp;width=328&amp;height=400&amp;format=jpg&amp;rnd=132864977802170000">
                            <source media="(min-width: 400px)" srcset="@picture2.Url()?anchor=center&amp;mode=crop&amp;width=518&amp;height=631&amp;format=jpg&amp;rnd=132864977802170000">
                            <img src="@picture2.Url()?anchor=center&amp;mode=crop&amp;width=518&amp;height=631&amp;format=jpg&amp;rnd=132864977802170000" alt="Featured central skylight well." loading="lazy" class="img-fluid border border-light" width="518" height="631">
                        </picture>
                    </div>


                </div>
            </div>    
        </div>
        
        <div class="py-10 pb-lg-18 mt-n5">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 p-0">
                        <picture>
                            <source media="(max-width: 399px)" srcset="@picture3.Url()?anchor=center&amp;mode=crop&amp;width=360&amp;height=200&amp;format=jpg&amp;rnd=132864977860570000">
                            <source media="(min-width: 400px)" srcset="@picture3.Url()?anchor=center&amp;mode=crop&amp;width=2000&amp;height=800&amp;format=jpg&amp;rnd=132864977860570000">
                            <img src="@picture3.Url()?anchor=center&amp;mode=crop&amp;width=2000&amp;height=800&amp;format=jpg&amp;rnd=132864977860570000" alt="Rear yard deck to be phased." loading="lazy" class="img-fluid" width="2000" height="800">
                        </picture>
                    </div>


                </div>
            </div>    
        </div>
        
        <div class="py-10 pb-lg-18 mt-n5">
            <div class="container">
                <div class="row">

                    <div class="col-sm-12 col-md-5 mx-auto">
                        <p class="text-left mb-1 fw-light">Front street facing second floor porch.</p>
                        <picture>
                            <source media="(max-width: 399px)" srcset="@picture4.Url()?anchor=center&amp;mode=crop&amp;width=328&amp;height=400&amp;format=jpg&amp;rnd=132864977856000000">
                            <source media="(min-width: 400px)" srcset="@picture4.Url()?anchor=center&amp;mode=crop&amp;width=518&amp;height=631&amp;format=jpg&amp;rnd=132864977856000000">
                            <img src="@picture4.Url()?anchor=center&amp;mode=crop&amp;width=518&amp;height=631&amp;format=jpg&amp;rnd=132864977856000000" alt="Featured central skylight well." loading="lazy" class="img-fluid border border-light" width="518" height="631">
                        </picture>
                    </div>

                
                    <div class="col-sm-12 col-md-5 mx-auto mt-5 mt-md-18">
                        <p class="text-left mb-1 fw-light">Large modern 5 piece bathroom.</p>
                        <picture>
                            <source media="(max-width: 399px)" srcset="@picture5.Url()?anchor=center&amp;mode=crop&amp;width=328&amp;height=400&amp;format=jpg&amp;rnd=132864977815570000">
                            <source media="(min-width: 400px)" srcset="@picture5.Url()?anchor=center&amp;mode=crop&amp;width=518&amp;height=631&amp;format=jpg&amp;rnd=132864977815570000">
                            <img src="@picture5.Url()?anchor=center&amp;mode=crop&amp;width=518&amp;height=631&amp;format=jpg&amp;rnd=132864977815570000" alt="Light transfers throughout the house passively." loading="lazy" class="img-fluid border border-light" width="518" height="631">
                        </picture>
                    </div>


                </div>
            </div>    
        </div>
        
        <div class="pt-10 mt-n5">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 p-0">
                        <picture>
                            <source media="(max-width: 399px)" srcset="@picture6.Url()?anchor=center&amp;mode=crop&amp;width=360&amp;height=200&amp;format=jpg&amp;rnd=132864977820170000">
                            <source media="(min-width: 400px)" srcset="@picture6.Url()?anchor=center&amp;mode=crop&amp;width=2000&amp;height=800&amp;format=jpg&amp;rnd=132864977820170000">
                            <img src="@picture6.Url()?anchor=center&amp;mode=crop&amp;width=2000&amp;height=800&amp;format=jpg&amp;rnd=132864977820170000" alt="Transitional Toronto Home" loading="lazy" class="img-fluid" width="2000" height="800">
                        </picture>
                    </div>


                </div>
            </div>    
        </div>
        
        <div class="py-2">
            <div class="container-fluid">
                <div class="row d-none d-sm-block">
                    <p class="text-light text-center fw-bold" style="font-size:260px;">Next</p>
                    


                        <p class="text-center mb-16 fw-normal display-4 mt-n20"><a href="/portfolio/woodmount/">Woodmount</a></p>

                </div>
                
                <div class="row d-block d-sm-none">
                    <p class="text-light text-center fw-bold" style="font-size:150px;">Next</p>

                        <p class="text-center mb-13 fw-normal display-4 mt-n18"><a href="/portfolio/woodmount/">Woodmount</a></p>
                	
                </div>
            </div>    
        </div>